/Project_Boot/.vscode/

/Project_Boot/MDK-ARM/Boot/
/Project_Boot/MDK-ARM/*.log
/Project_Boot/MDK-ARM/JLink*
/Project_Boot/MDK-ARM/*.ini
/Project_Boot/MDK-ARM/RTE/_Boot/
/Project_Boot/MDK-ARM/DebugConfig
/Project_Boot/MDK-ARM/*.scvd
/Project_Boot/MDK-ARM/*.王sir

*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst

.DS_Store
Thumbs.db
desktop.ini

*.log
*.swp
*.swo
*.bak